[submodule "node_manager"]
	path = submodules/node_manager
	url = https://github.com/xonder05/node_manager.git
[submodule "ros2_interface_api"]
	path = submodules/ros2_interface_api
	url = https://github.com/xonder05/ros2_interface_api.git
[submodule "node-red-ros2-orchestrator"]
	path = submodules/node-red-ros2-orchestrator
	url = https://github.com/xonder05/node-red-ros2-orchestrator.git
[submodule "waferbot_ros2_ws"]
	path = submodules/waferbot_ros2_ws
	url = https://github.com/xonder05/waferbot_ros2_ws.git
